ul.yozh-widget-tree-view {
    padding: 0;
}

ul.yozh-tree{
    list-style-type: none;
}

.yozh-widget-tree-view li > i {
    margin-right: 3px;
    font-size: 0.9em;
    cursor: pointer;
}

.yozh-widget-tree-view li > .text {
    margin-left: 5px;
}

.yozh-widget-tree-view .yozh-off{
    display: none;
}

.yozh-widget-tree-view .yozh-on{
    display: block;
}

.yozh-widget-tree-view label::after {
    content: ":";
}